/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/

*{box-sizing: border-box;}

:root{
	--login-text-color: #3D3D3D;
	--add-photo-bg: #E8F1F6;
	--add-photo-element: #CBD6DC;
	--add-photo-txt: #444;
}

body {
	position: relative;
	width: 100%;
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
	
}
/******************** edition********************/

/*TO DO Regler la largeur du bandeau*/
.edition-mode{
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	width: 100vw;
	height: 59px;
	background-color: black;
	color: white;
}

/******************** Modal ********************/

.modal{
	z-index: 1;
	position: fixed;
	top: 0;
	left: 0;
	width: 100% ;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.modal-container{
	box-sizing: border-box;
	background-color: #fff;
	max-width: 630px ;
	height: 670px;
	width: 100%;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.modal-nav{
	display: flex;
	align-self: normal;
	justify-content: space-between;
	align-items: flex-end;
	margin-top: 26px;
	margin-bottom: 10px;
	margin: 25px 30px 10px 30px;
}

.edition-btn{
	flex-basis: 1;
	object-fit: contain;
	background: none;
	border: none;
	width: auto;
	text-align: end;
	font-size: 20px;
	font-weight: 700;
	align-self: flex-end;
}

.edition-btn:hover{
	cursor: pointer;
}

.modal-container>h3{
	color: black;
	font-size: 26px;
	font-weight: 400;
	margin-bottom: 45px;
}

.modal-form{
	flex-grow: 1;
	margin-top: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding: 0 105px;
}
.modal-form-content{
	flex-grow: 1;
	border-bottom: solid 1px #3B3B3B;
	width: 100%;
	align-items: stretch;

}

.modal-form>button{
	border: none;
	width: 240px;
	margin-top: 38px;
	padding: 10px 50px;
	margin-bottom: 45px;
	color: white;
	background-color: #1D6154;
	border-radius: 60px;
}

.modal-form>button:disabled{
	background-color: #a7a7a7;
}

.edit-gallery-container{
	height: 100%;
	max-height: 410px;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	column-gap: 10px;
	row-gap: 20px;
	background-color: #fff;
	overflow: auto;
	
}

.work-container{
	flex-basis: 18%;
	flex-grow: 1;
	max-width: 18%;
	height: fit-content;
	position: relative;
}

.work-container>img{
	width: 100%;
	object-fit: cover;
}

.fa-trash-can{
	position: absolute;
	top: 0;
	right: 0;
	background-color: black;
	color: #fff;
	width: 20px;
	height: 20px;
	margin: 5px;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.fa-trash-can:hover{
	cursor: pointer;
}

/******************** Ajout photo Modale ********************/

.add-photo-container{
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.add-photo-area{
	position: relative;
	background-color: var(--add-photo-bg);
	display: flex;
	justify-content: center;
	margin: 0;
	text-align: center;
}

.add-photo-area>img{
	position: absolute;
	height:100%;
	overflow: auto;
}

.add-photo-area-no-file{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
	margin-bottom: 10px;
	height: 169px;
}

.add-photo-area-no-file>i{
	margin-top: 15px;
	width: 76px;
	height: 76px;
	font-size: 76px;
	color: var(--add-photo-element) ;
}

#add-photo-input{
	position: absolute;
	background-color: red;
	width: 100%;
	height: 100%;
}

.add-photo-area-no-file>label{
	background-color: var(--add-photo-element) ;
	border-radius: 50px;
	padding: 10px 33px;
	margin: 10px 0 7px;
}

.add-photo-area-no-file>label:hover{
	cursor: pointer;
}

.add-photo-area-no-file>p{
	font-size: 10px;
	margin-bottom: 20px;
}

.add-photo-container>label{
	margin: 0;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.add-photo-container>label:hover{
	cursor: pointer;
}

/******************** Header ********************/

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0 50px 0;
}


section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
	cursor: pointer;
}

.login-choosen{
	font-weight: 600;
}

/******************** Introduction********************/

#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

/******************** Portefolio ********************/

#portfolio{
}

#portfolio h2 {
	position: relative;
	text-align: center;
	margin-bottom: 1em;
}

.modify-btn{
	position: absolute;
	top: 10px;
	color: black;
	text-decoration: none;
	font-size: 14px;
	padding:0 15px;
}


.filters{
	width: 100%;
	margin-bottom: 1em;
	display: flex;
	justify-content: center;
	gap: 10px;
}

.filter-btn{
	/* height: 37px; */
	box-sizing: border-box;
	border-radius: 60px;
	border: solid 1px #1D6154;
	color: #1D6154;
	background-color: white;
	font-family: 'Syne';
	font-size: 16px;
	font-weight: 700;
	padding: 10px 10px;
}

.filter-btn:hover{
	cursor: pointer; 
}

.filter-selected{
	background-color: #1D6154;
	color: white;
}


.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}

/******************** Formulaire ********************/

form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

input, select{
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

select{
	background-color: white;
}

label {
	margin: 2em 0 1em 0;
}
textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}


/******************** Log In ********************/



.login-page{
	
	align-items: center;
	width: 100%;	
	margin-bottom: 250px;
}

.login-input{
	min-width: 380px; ;
}

.login-section{
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	
}

.login-text{
	color: var(--login-text-color);
}



/******************** Contact ********************/

#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}


footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

